<h4 class="text-center">Crear elemento</h4>
<app-progress *ngIf="progressService.progressRun"></app-progress>
<div *ngIf="!progressService.progressRun">
    <div *ngIf="contentTypeService.contentType != undefined && markerService.elementInMarker != undefined && showElementInMarkerForm == true">
        <div class="grid-x">
            <div class="large-12">
                <label>
                    <b>Tipo de elemento</b>
                    <select
                        #mycombobox
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="contentTypeService.contentType"
                        (change) ="changeContentType($event.target.value)">
                        <option
                            *ngFor="let contentType of contentTypeService.contentTypeCombobox" [ngValue]="contentType">
                                {{ contentType.name }}
                        </option>
                    </select>
                </label>
            </div>
          </div>
          <div class="grid-x">
                  <div class="large-6">
                      <label>
                        <b>Tipo de evento</b>
                          <select
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="markerService.elementInMarker.options.event">
                              <option
                                  *ngFor="let event of contentTypeService.contentType.options.events" [ngValue]="event">
                                      {{ event }}
                              </option>
                          </select>
                      </label>
                  </div>
                  <div class="large-6">
                      <label>
                          <b>Tipo de acción</b>
                          <select
                              [(ngModel)]="markerService.elementInMarker.options.action">
                              <option
                                  *ngFor="let action of contentTypeService.contentType.getActionsByEvent(markerService.elementInMarker.options.event)" [ngValue]="action">
                                      {{ action }}
                              </option>
                          </select>
                      </label>
                  </div>
          </div>
          <div class="grid-x">
            <div class="large-12">
              <label>
                <b>URL Google maps</b>
                <input
                    value="{{ markerService.findChildByContentTypeIdAndLanguageId(3,1) }}"
                    (keyup) = "markerService.typing($event.target.value,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(3))" type="text">
              </label>
            </div>
            <div class="large-12" *ngIf="markerService.elementInMarker.options.action == 'OpenURL'">
              <label>ENLACE
                  <input
                  value="{{ markerService.findChildByContentTypeIdAndLanguageId(23,1) }}"
                    (keyup) = "markerService.typing($event.target.value,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(23))" type="text">
              </label>
            </div>
          </div>
          <div class="grid-x"
            *ngIf="contentTypeService.contentType != undefined && contentTypeService.contentType.id_content_type != 30">
              <div  class="large-12 cell">
                  <label class="button success expanded" for="upload"
                    *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]">
                      <b style="color: #cc4b37;">*</b>SUBIR {{ contentTypeService.contentType.name }}
                      <b *ngIf="contentTypeService.contentType.id_content_type == 1">ANDROID</b>&nbsp;
                      <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
                      <fa-icon [icon]="faCheck" *ngIf='markerService.elementInMarker.resource != ""'></fa-icon>
                  </label>
                  <label class="button expanded"
                    *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]" disabled>
                      SUBIENDO {{ contentTypeService.contentType.name }}
                      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                  </label>
                  <input type="file"
                    class="show-for-sr"
                    id="upload"
                    *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]"
                    (change)="markerService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),helperService.determinateHost(), helperService.getHeaders())"
                    accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
              </div>
          </div>
          <div class="grid-x"
            *ngIf="contentTypeService.contentType.id_content_type == 1">
            <div  class="large-12 cell">
                <label class="button success expanded"
                  for="upload-xml-android"
                  *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]">
                    <b style="color: #cc4b37;">*</b>SUBIR XML {{ contentTypeService.contentType.name }}
                    <b>ANDROID</b>&nbsp;
                    <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
                    <fa-icon
                      [icon]="faCheck"
                      *ngIf="markerService.findChildByContentTypeAndLanguageAndSystem(languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(29)) != undefined"></fa-icon>
                </label>
                <label class="button expanded"
                *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]" disabled>
                    SUBIENDO {{ contentTypeService.contentType.name }}
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </label>
                <input type="file"
                  class="show-for-sr"
                  id="upload-xml-android"
                  *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]"
                  (change)="markerService.fileInputChild($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(29),helperService.determinateHost(),helperService.getHeaders())"
                  accept="{{ contentTypeService.getAcceptByContentType(29)}}">
            </div>
          </div>
          <div class="grid-x"
            *ngIf="contentTypeService.contentType.id_content_type == 1">
            <div  class="large-12 cell">
              <label
                class="button expanded"
                for="upload-ios"
                *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]">
                  <b style="color: #cc4b37;">*</b>SUBIR {{ contentTypeService.contentType.name }} <b>IOS</b>&nbsp;
                  <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
                  <fa-icon
                  [icon]="faCheck"
                  *ngIf="markerService.findChildByContentTypeAndLanguageAndSystem(languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type)) != undefined"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]" disabled>
                  SUBIENDO {{ contentTypeService.contentType.name }}
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input
                type="file"
                class="show-for-sr"
                id="upload-ios"
                *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]"
                (change)="markerService.fileInputChild($event.target.files,
                  languageService.findLanguageById(1),systemService.findSystemById(2),
                  contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),
                  helperService.determinateHost(),
                  helperService.getHeaders())"
                accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
            </div>
          </div>
          <div class="grid-x"
            *ngIf="contentTypeService.contentType.id_content_type == 1">
            <div  class="large-12 cell">
                <label class="button expanded" for="upload-xml-ios"
                  *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]">
                    <b style="color: #cc4b37;">*</b>SUBIR XML {{ contentTypeService.contentType.name }} <b>IOS</b>&nbsp;
                    <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
                    <fa-icon
                    [icon]="faCheck"
                    *ngIf="markerService.findChildByContentTypeAndLanguageAndSystem(languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(29)) != undefined"></fa-icon>
                </label>
                <label class="button expanded"
                  *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]" disabled>
                    SUBIENDO {{ contentTypeService.contentType.name }}
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </label>
                <input type="file" class="show-for-sr" id="upload-xml-ios"
                  *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(29).code]"
                  (change)="markerService.fileInputChild($event.target.files,languageService.findLanguageById(1),
                  systemService.findSystemById(2),
                  contentTypeService.findContentTypeById(29),helperService.determinateHost(),
                  helperService.getHeaders())"
                  accept="{{ contentTypeService.getAcceptByContentType(29)}}">
            </div>
          </div>
          <div class="grid-x"
            *ngIf="contentTypeService.contentType != undefined && contentTypeService.contentType.id_content_type == 30 && markerService.elementInMarker.options.action == 'Play/PauseVideo'">
              <div  class="large-12 cell">
                  <label class="button success expanded" for="upload"
                    *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]">
                      <b style="color: #cc4b37;">*</b>SUBIR VIEO
                      <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
                      <fa-icon [icon]="faCheck" *ngIf="markerService.elementInMarker.resource != undefined"></fa-icon>
                  </label>
                  <label class="button expanded"
                    *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]" disabled>
                      SUBIENDO {{ contentTypeService.contentType.name }}
                      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                  </label>
                  <input type="file"
                    class="show-for-sr"
                    id="upload"
                    *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type).code]"
                    (change)="markerService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),helperService.determinateHost(),helperService.getHeaders())"
                    accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
              </div>
          </div>

          <app-create-element-canvas-options-video-form *ngIf="contentTypeService.contentType.id_content_type == 12">
          </app-create-element-canvas-options-video-form>
          <div class="grid-x">
            <div class="large-12">
              <p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
            </div>
          </div>
            <div class="grid-x">
                <div class="large-3 large-offset-6">
                    <button class="button secondary expanded" (click) = "cancel()">
                        <b>Cancelar</b>
                    </button>
                </div>
                <div class="large-3">
                    <button class="button success expanded" (click) = "save()">
                        <b *ngIf="markerService.elementInMarker.options.action != 'Escena XR'">Añadir</b>
                        <b *ngIf="markerService.elementInMarker.options.action == 'Escena XR'">Siguiente</b>
                    </button>
                </div>
        </div>
    </div>
</div>
<app-create-element-scene-xr-canvas-form
    *ngIf="showSceneXRForm"
    (saveSceneXRInMarker) = "saveSceneXRInMarker($event)"
    (cancelElementInMarker) = "cancel()"></app-create-element-scene-xr-canvas-form>
<app-create-element-instruction-scene-gpar-canvas-form
    *ngIf="showSceneGPAR"
    (saveSceneGPARInMarker) = "saveSceneGPARInMarker($event)"
    (cancelElementInMarker) = "cancel()"></app-create-element-instruction-scene-gpar-canvas-form>
<app-create-scene-vr-canvas-form
  *ngIf="showSceneVRForm"
  (saveSceneVRInMarker) = "saveSceneVRInMarker($event)"
  (cancelElementInMarker) = "cancel()"></app-create-scene-vr-canvas-form>
