<form #editInstructionGPARForm = "ngForm" novalidate *ngIf="!progressService.progressRun">
    <div class="grid-x">
      <div class="large-12 cell">
        <label>
          <b>Tipo de escena</b>
          <select
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contentTypeService.contentType">
              <option
                  *ngFor="let contentType of contentTypeService.contentTypeCombobox" [ngValue]="contentType">
                      {{ contentType.name }}
              </option>
          </select>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <label class="button expanded" for="upload" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(2).options.code]">
        <b style="color: #cc4b37;">*</b>
        <b>SUBIR MARCADOR</b>&nbsp;
        <fa-icon [icon]="faImage"></fa-icon>
      </label>
      <label class="button expanded" *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(2).options.code]" disabled>
        <b>SUBIENDO MINIATURA</b>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </label>
      <input type="file" class="show-for-sr" id="upload" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(2).options.code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(2),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(2)}}">
    </div>
    <div class="grid-x" style="background: black">
      <div class="large-4 large-offset-4 end" *ngIf="elementService.currentElement.getResourceByContentTypeId(2) != ''" style="background: black">
        <app-preview-marker
          [element] = "elementService.currentElement"></app-preview-marker>
      </div>
    </div>
    <div class="grid-x">
      <div class="large-6">
          <label>
            <b>Idioma</b>
            <select
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="languageService.language"
              (change)="languageService.changeLanguage($event.target.value)">
              <option
                *ngFor="let language of languageService.languagesCombobox" [ngValue]="language">
                {{ language.name }}
              </option>
            </select>
          </label>
      </div>
      <div class="large-6">
          <label>
            <b>SISTEMA</b>
            <select
              [disabled] = "(systemService.systemsCombobox.length == 1 && systemService.systemsCombobox[0].id_system == 1)"
              (change)="systemService.changeSystem($event.target.value)">
              <option
                *ngFor="let system of systemService.systemsCombobox">
                {{ system.name }}
              </option>
            </select>
          </label>
      </div>
    </div>
    <div class="grid-x">
      <div *ngIf="languageService.language != undefined && elementService.currentElement != undefined"  class="large-12">
          <div *ngFor= "let language of languageService.languagesCombobox">
            <div class="grid-x" [class.hidden]="!languageService.language.isEqualId(language.id_language)">
              <div class="large-12">
                <label>
                  <b>Instrucción inicial ({{ language.name }})</b>
                  <input
                    value="{{ elementService.currentElement.getResourceByContentTypeIdAndLanguageId(20,language.id_language) }}"
                    (keyup) = "elementService.typing($event.target.value,language,systemService.system,contentTypeService.findContentTypeById(20))"
                    type="text">
                </label>
              </div>
              <div class="large-12">
                <label>
                  <b>Pregunta ({{ language.name }})</b>
                  <input
                    value="{{ elementService.currentElement.getResourceByContentTypeIdAndLanguageId(22,language.id_language) }}"
                    (keyup) = "elementService.typing($event.target.value,language,systemService.system,contentTypeService.findContentTypeById(22))"
                    type="text">
                </label>
              </div>
              <div class="large-12">
                <label>
                  <b>Instrucción piso ({{ language.name }})</b>
                  <input
                    value="{{ elementService.currentElement.getResourceByContentTypeIdAndLanguageId(21,language.id_language) }}"
                    (keyup) = "elementService.typing($event.target.value,language,systemService.system,contentTypeService.findContentTypeById(21))"
                    type="text">
                </label>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="large-12">
        <p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
      </div>
    </div>
    <div class="grid-x">
      <div class="large-3 large-offset-6">
        <button class="button secondary expanded" (click) = "cancel()">
            <b>Cancelar</b>
        </button>
      </div>
      <div class="large-3">
          <button class="button success expanded" (click) = "save(elementService.currentElement)">
              <b>Añadir</b>
          </button>
      </div>
    </div>

</form>
