<app-progress *ngIf="progressService.progressRun"></app-progress>
<div *ngIf="!progressService.progressRun">
  <app-menu-top></app-menu-top>
  <h3 class="text-center">EDITAR ESCENA XR</h3>
  <div class="grid-x">
    <div class="large-5 large-offset-1">
      <form #editCollectionForm = "ngForm" novalidate>
        <div class="grid-x">
          <div class="large-12 cell">
            <label>
              <b>Tipo de escena</b>
              <select
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="contentTypeService.contentType">
                  <option
                      *ngFor="let contentType of contentTypeService.contentTypeCombobox" [ngValue]="contentType">
                          {{ contentType.name }}
                  </option>
              </select>
            </label>
          </div>
        </div>
        <div class="grid-x" *ngIf="contentTypeService.contentType != undefined">
          <div  class="large-12 cell">
              <label class="button expanded" for="upload" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]">
                  <b style="color: #cc4b37;">*</b>SUBIR {{ contentTypeService.contentType.name }}
                  <fa-icon [icon]="faFileArchive"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" disabled>
                  SUBIENDO {{ contentTypeService.contentType.name }}
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input type="file" class="show-for-sr" id="upload" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
          </div>
        </div>
        <div class="grid-x">
            <div class="large-4" [class.end] = "elementService.currentElement.gpar == undefined">
                <label>
                    <b>Estatus</b>
                    <select
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="elementService.currentElement.status"
                            (change)="elementService.changeStatus($event.target.value)" >
                            <option
                                *ngFor="let status of elementService.status" [ngValue]="status.id">
                                    {{ status.name }}
                            </option>
                    </select>
                </label>
            </div>
            <div class="large-8" *ngIf="elementService.currentElement.gpar != undefined">
                <br>
                <button class="button warning expanded" (click) = "editGPAR()">
                    <b>Editar GPAR</b>
                </button>
            </div>
        </div>
        <div class="grid-x">
            <div class="large-12">
                <p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
            </div>
        </div>
        <div class="grid-x">
          <div class="large-2 large-offset-8">
              <button class="button secondary expanded" (click) = "cancel()">
                  <b>Cancelar</b>
              </button>
          </div>
          <div class="large-2">
              <button class="button success expanded" (click) = "save(elementService.currentElement)">
                  <b>Guardar</b>
              </button>
          </div>
        </div>
      </form>
    </div>
    <div class="large-5 end">
      <app-card-scene-xr
          [element] = "elementService.currentElement"></app-card-scene-xr>
		</div>
  </div>
</div>
