<div class="text-center" style="top:40%; left:45%; width: 10%; height:20%; position: absolute;"  *ngIf="progressService.type != 2">
    <fa-icon 
        [icon]="faSpinner" 
        [spin]="true"  
        size="4x" *ngIf="progressService.type == 0"></fa-icon>
    <fa-icon 
        [icon]="faCheckCircle" 
        style="color:#3adb76" 
        size="4x" *ngIf="progressService.type == 1"></fa-icon>
    <p>{{ progressService.msg }} ...</p>
</div>
<div class="grid-x" *ngIf="progressService.type == 2">
    <div class="large-6 large-offset-3 text-center">
        <fa-icon 
            style="margin:auto"
            [icon]="faSpinner" 
            [spin]="true"  
            size="4x"></fa-icon>
        <p>{{ progressService.msg }} ...</p>
    </div>
</div>