
<h1 class="text-center" style="margin-top:5%;">
  <fa-icon
    [icon]="faSadTear"
    size="4x"></fa-icon>
</h1>
<h1 class="text-center">Error {{ code }}</h1>
<h3 class="text-center">{{ msg }}</h3>
<div class="grid-x">
  <div class="large-4 large-offset-4 cell">
    <button class="button expanded success" (click)="back()">
      <b>Entendido</b> (Regresar al inicio)
    </button>
  </div>
</div>
