<app-progress *ngIf="progressService.progressRun"></app-progress>
<div *ngIf="!progressService.progressRun">
  <app-menu-top></app-menu-top>
  <app-breadcrumbs></app-breadcrumbs>
  <div class="grid-x"
    *ngIf="elementService.elements.length > 0"
    [sortablejs]="elementService.elements"
    [sortablejsOptions]="options">
    <div class="large-3 small-12 medium-3" *ngFor="let element of elementService.elements" id="{{ element.id_element }}">
      <app-card-collection
        *ngIf="element.id_element_type == 1"
        [hide_description] = "true"
        [hide_titles] = "true"
        [hide_controls] = "false"
        [element] = "element"></app-card-collection>
      <app-card-travel
        *ngIf="element.id_element_type == 2"
        [hide_description] = "true"
        [hide_titles] = "true"
        [hide_controls] = "false"
        [element] = "element"></app-card-travel>
      <app-card-scene-xr
      *ngIf="element.id_element_type == 4"
      [hide_controls] = "false"
      [element] = "element"></app-card-scene-xr>
      <app-card-scene-gpar
      *ngIf="element.id_element_type == 5"
      [hide_controls] = "false"
      [element] = "element"></app-card-scene-gpar>
      <app-card-panel-instructions
        *ngIf="element.id_element_type == 3"
        [hide_controls] = "false"
        [element] = "element"></app-card-panel-instructions>
    </div>
  </div>
  <div class="grid-x" *ngIf="elementService.elements.length <= 0">
    <div class="large-12">
      <h3 class="text-center">
        <b *ngIf="elementTypeService.currentElementType.id_element_type == 1 && id_element != 0">AÚN NO SE REGISTRAN RECORRIDOS O PANEL DE INSTRUCCIONES</b>
        <b *ngIf="id_element == 0">AÚN NO SE REGISTRAN COLECCIONES</b>
        <b *ngIf="elementTypeService.currentElementType.id_element_type == 4">AÚN NO SE REGISTRA GPAR</b>
        <b *ngIf="elementTypeService.currentElementType.id_element_type == 2">AÚN NO SE REGISTRA ESCENA XR O PANEL DE INSTRUCCIONES</b>
      </h3>
    </div>
  </div>
</div>
