<app-progress *ngIf="progressService.progressRun"></app-progress>
<div *ngIf="!progressService.progressRun">
  <app-menu-top></app-menu-top>
  <h3 class="text-center">CREAR PANEL DE INSTRUCCIONES</h3>
  <div class="grid-x">
      <div class="large-5 large-offset-1">
        <form #createInstructionPanelForm = "ngForm" novalidate>
          <fieldset class="large-8 cell end">
            <input type="checkbox" name= "travel_mode" class="checkbox" [(ngModel)]="elementService.currentElement.options.travel_mode">
            <label>MODO RECORRIDO</label>
            <input type="checkbox" name= "ar_custom" class="checkbox" [(ngModel)]="elementService.currentElement.options.ar_custom">
            <label >AR UI CUSTOM</label>
          </fieldset>
          <div class="grid-x">
            <div class="large-12">
              <label class="button expanded" for="upload" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(14).code]">
                  <b style="color: #cc4b37;">*</b><b>SUBIR CLIP DE INSTRUCCIÓN</b>&nbsp;
                  <fa-icon [icon]="faVideo"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(14).code]" disabled>
                  SUBIENDO CLIP DE INSTRUCCIÓN
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input type="file" class="show-for-sr" id="upload" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(14).code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(14),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(14)}}">
            </div>
          </div>
          <div class="grid-x">
            <div class="large-12">
              <h5 class="text-center">Panel de marcadores</h5>
            </div>
            <div class="large-5 large-offset-7">
              <label class="button expanded" for="upload_marker" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(2).code]">
                <b style="color: #cc4b37;">* </b> <b>AGREGAR MARCADOR</b>&nbsp;
                <fa-icon [icon]="faImage"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(2).code]" disabled>
                SUBIENDO MARCADOR
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input type="file" class="show-for-sr" id="upload_marker" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(2).code]" (change)="markerService.fileMarker($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(2),helperService.determinateHost(),helperService.getHeaders())" accept="{{contentTypeService.getAcceptByContentType(2)}}">
            </div>
          </div>
          <div class="grid-x">
            <div class="large-12">
              <h5 class="text-center">Marcadores</h5>
              <div class="grid-x">
                  <div class="large-12 cell" *ngIf="markerService.markers.length > 0">
                      <div>
                          <table>
                              <thead>
                                  <tr>
                                    <th class="text-center" width="100">Marcador</th>
                                    <th width="50">Ranking</th>
                                    <th width="50"></th>
                                    <th width="50"></th>
                                  </tr>
                              </thead>
                              <tbody    [sortablejs]="markerService.markers"
                              [sortablejsOptions]="options">
                                  <tr *ngFor="let marker of markerService.markers" id="{{ marker.id_content }}">
                                      <td>
                                            <app-element-canvas-card-mini
                                            [hide_controls] = "true"
                                            [elementInMarker] = "marker"></app-element-canvas-card-mini>
                                          <!----img src="{{ helperService.determinateHost()+'/storage/'+marker.resource }}" style="width: 30%; height: 15%; margin-left:35%;"-->
                                      </td>
                                      <td>
                                          {{ marker.options.rating }}
                                      </td>
                                      <td>
                                        <button class="button hollow alert" (click) = "markerService.deleteMarker(marker,helperService.determinateHost(),helperService.getHeaders())">
                                          <fa-icon [icon]="faTrash"></fa-icon>
                                      </button>
                                      </td>
                                      <td>
                                          <button class="button hollow warning" (click) = "markerService.goToMarkerCanvas(marker)">
                                              <fa-icon [icon]="faEdit"></fa-icon>
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="large-12 cell" *ngIf="markerService.markers.length <= 0">
                    <h5 class="text-center">No existen marcadores</h5>
                  </div>
              </div>
            </div>
          </div>
          <div class="grid-x" *ngIf = "elementService.currentElement.options.ar_custom">
            <div class="large-12">
              <label class="button expanded" for="upload-footer" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(24).options.code]">
                  <b style="color: #cc4b37;">*</b><b>SUBIR FOOTER</b>&nbsp;
                  <fa-icon [icon]="faImage"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[contentTypeService.findContentTypeById(24).options.code]" disabled>
                  SUBIENDO FOOTER
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input type="file" class="show-for-sr" id="upload-footer" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(24).options.code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(24),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(24)}}">
            </div>
            <div class="large-6">
              <label class="button expanded" for="upload-aa" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(25).options.code]">
                  <b style="color: #cc4b37;">*</b><b>IMAGEN AA</b>&nbsp;
                  <fa-icon [icon]="faImage"></fa-icon>
              </label>
              <label class="button expanded" *ngIf="progressService.progress[contentTypeService.findContentTypeById(25).options.code]" disabled>
                  SUBIENDO IMAGEN AA
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </label>
              <input type="file" class="show-for-sr" id="upload-aa" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(25).options.code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(25),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(25)}}">
            </div>
            <div class="large-6">
                <label class="button expanded" for="upload-ba" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(27).code]">
                    <b style="color: #cc4b37;">*</b><b>IMAGEN BA</b>&nbsp;
                    <fa-icon [icon]="faImage"></fa-icon>
                </label>
                <label class="button expanded" *ngIf="progressService.progress[contentTypeService.findContentTypeById(27).code]" disabled>
                    SUBIENDO IMAGEN BA
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </label>
                <input type="file" class="show-for-sr" id="upload-ba" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(27).code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(27),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(27)}}">
            </div>
            <div class="large-6">
                <label class="button expanded" for="upload-ab" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(26).code]">
                    <b style="color: #cc4b37;">*</b><b>IMAGEN AB</b>&nbsp;
                    <fa-icon [icon]="faImage"></fa-icon>
                </label>
                <label class="button expanded" *ngIf="progressService.progress[contentTypeService.findContentTypeById(26).code]" disabled>
                    SUBIENDO IMAGEN AB
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </label>
                <input type="file" class="show-for-sr" id="upload-ab" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(26).code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(26),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(26)}}">
            </div>
            <div class="large-6">
                <label class="button expanded" for="upload-bb" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(28).code]">
                    <b style="color: #cc4b37;">*</b><b>IMAGEN BB</b>&nbsp;
                    <fa-icon [icon]="faImage"></fa-icon>
                </label>
                <label class="button expanded" *ngIf="progressService.progress[contentTypeService.findContentTypeById(28).code]" disabled>
                    SUBIENDO IMAGEN BB
                    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                </label>
                <input type="file" class="show-for-sr" id="upload-bb" *ngIf="!progressService.progress[contentTypeService.findContentTypeById(28).code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(28),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(28)}}">
            </div>
          </div>
          <div class="grid-x">
						<div class="large-12">
							<p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
						</div>
          </div>
          <div class="grid-x">
						<div class="large-2 large-offset-8">
							<button class="button expanded secondary" (click) = "cancel()">
								<b>Cancelar</b>
							</button>
						</div>
						<div class="large-2">
							<button class="button expanded success" (click) = "save(elementService.currentElement)" [disabled] = " markerService.markers.length <= 0">
								<b>Guardar</b>
							</button>
						</div>
					</div>

        </form>
      </div>
      <div class="large-5 end">
        <app-card-panel-instructions
        [element] = "elementService.currentElement"></app-card-panel-instructions>
      </div>
  </div>
</div>
