<div class="grid-x" style="padding-left:5%; padding-right: 5%">
  <div class="large-12">
    <a  *ngFor="let breadcrumb of helperService.breadcrumbs" (click) = "goTo(breadcrumb)">
      <b>
          {{ breadcrumb.name }} /

      </b>
    </a>
  </div>
</div>
