<div class="grid-x" *ngIf="element != undefined">
    <div class="small-8 small-offset-2 end" style="background:black" 
    [class.hidden]="element.getResourceByContentTypeId(15) == '' && element.getResourceByContentTypeId(16) == ''">
      <a (click) = "goTo()">
        <div id="canvasWrapper-{{element.id_element}}" class="wrapper-canvas" style="width:100%; height:350px">
            <canvas id="canvasID-{{element.id_element}}" class="canvas">
               Tu navegador no soporta canvas
            </canvas>
        </div>
      </a>
    </div>
    <div class="small-8 small-offset-2 end" style="background:black" 
    [class.hidden]="element.content[0] !=  undefined">
      <a (click) = "goTo()">
        <div id="canvasWrapper-{{element.id_element}}" class="wrapper-canvas" style="width:100%; height:350px">
            <canvas id="canvasID-{{element.id_element}}" class="canvas">
               Tu navegador no soporta canvas
            </canvas>
        </div>
      </a>
    </div>
    <div class="small-8 small-offset-2 end"  style="background:black"
      [class.hidden] = "element.getContentIdByContentTypeId(19) == ''">
      <video id="panorama-{{element.getContentIdByContentTypeId(19)}}" class="video-js vjs-default-skin vjs-big-play-centered"
        controls preload="none" crossorigin="anonymous">
        <source src="{{ helperService.determinateHost()+'/api/content/getFile/'+element.getContentIdByContentTypeId(19) }}" crossOrigin="anonymous" type="video/mp4"/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to
            a web browser.
        </p>
      </video>
    </div>
    <div class="small-8 small-offset-2 end" style="background:black" [class.hidden] = "element.getContentIdByContentTypeId(17) == ''">
      <div id="panorama"></div>
    </div>
    <div class="small-12">
      <h4 class="text-center">Escena XR</h4>
    </div>
    <div class="small-12" *ngIf ="hide_controls == true && element.content[0] != undefined" >
      <h5 class="text-center">
        <a href="{{ helperService.determinateHost()+'/storage/'+element.content[0].resource }}" target="_blank" rel="noopener noreferrer">
          Descargar
        </a>
      </h5>
    </div>
    <div class="small-2 small-offset-2" [class.hidden] ="hide_controls">
        <button class="button alert expanded" (click) = "delete()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      <div class="small-2" [class.hidden] ="hide_controls">
        <button class="button warning expanded" (click)="edit()">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
      <div class="small-4 end" style="padding: .85em 1em;" [class.hidden] ="hide_controls">
        <h5 class="text-center"> 
          <b>
            {{element.statusName()}}
          </b>
        </h5>
      </div>
  </div>