<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu >
      <li class="name">
        <a href="">
          <img id="logo" src="http://www.auraxr.com/wp-content/uploads/2019/06/xr.png">
        </a>
      </li>
      <li>
        <a href="">
          {{ helperService.determinateSystem() }} {{ helperService.determinateVersion() }}
        </a>
      </li>
      <li>
        <a href="#">
          <b>CREAR</b>
        </a>
        <ul class="menu vertical">
          <li *ngFor="let elementType of elementTypeService.menu">
            <a (click) = "goToCreate(elementType)">
              <b>{{ elementType.name }}</b>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu >
      <li>
        <a href="#">
          <b>ADMINISTRACION</b>
        </a>
        <ul class="menu vertical">
          <li>
            <a>
              <b>USUARIOS</b>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <b>PERFIL</b>
        </a>
        <ul class="menu vertical">
          <li>
            <a (click) = "logout()">
              <b>Logout</b>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
