.top-bar,.top-bar-left, .top-bar ul{
  background: #ffffff;
}

.dropdown menu {
  background: #ffffff;
}

li a {
  color: rgba(0,0,0,.6);
}

a #logo {
  width: 22px;
  height:  22px;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}
