<div class="grid-x" *ngIf="elementInMarker != undefined">
  <div class="large-10 large-offset-2 end without_margin_button"  style="background:transparent"  *ngIf="(elementInMarker.id_content_type != 12 &&  elementInMarker.id_content_type !=  30 ) || (elementInMarker.id_content_type ==  30 && elementInMarker.options.action != 'Play/PauseVideo')">
    <div id="canvasWrapper-{{elementInMarker.id_content}}" class="wrapper-canvas" style="width: 100px; height: 100px;">
      <canvas id="canvasID-{{elementInMarker.id_content }}" class="canvas">
         Tu navegador no soporta canvas
      </canvas>
    </div>
  </div>
  <div  class="large-10 large-offset-2 end without_margin_button" style="background:transparent"  *ngIf="elementInMarker.id_content_type == 12 || (elementInMarker.id_content_type ==  30 && elementInMarker.options.action == 'Play/PauseVideo')"  style="height:100px;">
    <video  src="{{ helperService.determinateHost(false)+'/storage/'+determinateUrl(elementInMarker) }}"
      class="without_margin_button"
      style="width:100px; height:100px; margin: auto"></video>

  </div>
  <div class="large-5 large-offset-2" *ngIf="!hide_controls">
    <button class="button alert expanded" (click) = "delete(elementInMarker.id_content)">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
  <div class="large-5 end" *ngIf="!hide_controls">
    <button class="button warning expanded"  (click) = "update(elementInMarker.id_content)">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </div>
  <div class="large-10 large-offset-2 text-center" *ngIf="!hide_controls">
    <small>{{ findContentTypeNameById(elementInMarker.id_content_type) }}</small>
  </div>
  <div class="large-5 large-offset-2 text-center" *ngIf="!hide_controls">
    <small style="font-size:8px">{{ elementInMarker.options.event }}</small>
  </div>
  <div class="large-5 end text-center" *ngIf="!hide_controls">
      <small style="font-size:8px">{{ elementInMarker.options.action }}</small>
  </div>
</div>
