<app-progress *ngIf="progressService.progressRun"></app-progress>
<div *ngIf="!progressService.progressRun">
	<app-menu-top></app-menu-top>
	<h3 class="text-center">CREAR RECORRIDO</h3>
	<div class="grid-x">
			<div class="large-5 large-offset-1">
					<form #createCollectionForm = "ngForm" novalidate>
						<div class="grid-x">
							<div class="large-6">
								<label>
									<b>IDIOMA</b>
									<select
										[ngModelOptions]="{standalone: true}"
										[(ngModel)]="languageService.language"
										(change)="languageService.changeLanguage($event.target.value)">
										<option
											*ngFor="let language of languageService.languagesCombobox" [ngValue]="language">
											{{ language.name }}
										</option>
									</select>
								</label>
							</div>
							<div class="large-6">
								<label>
									<b>SISTEMA</b>
									<select
										[disabled] = "(systemService.systemsCombobox.length == 1 && systemService.systemsCombobox[0].id_system == 1)"
										(change)="systemService.changeSystem($event.target.value)">
										<option
											*ngFor="let system of systemService.systemsCombobox">
											{{ system.name }}
										</option>
									</select>
								</label>
							</div>
						</div>
						<div class="grid-x">
							<div *ngIf="languageService.language != undefined && elementService.currentElement != undefined"  class="large-12">
								<div *ngFor= "let language of languageService.languagesCombobox">
									<div class="grid-x" [class.hidden]="!languageService.language.isEqualId(language.id_language)">
										<div class="large-12">
											<label>
												<b>NOMBRE ({{ language.name }})</b>
												<input
													value="{{ elementService.currentElement.getResourceByContentTypeIdAndLanguageId(5,language.id_language) }}"
													(keyup) = "elementService.typing($event.target.value,language,systemService.system,contentTypeService.findContentTypeById(5))"
													type="text">
											</label>
										</div>
										<div class="large-12">
											<label>
												<b>Descripción ({{ language.name }})</b>
												<textarea
													value="{{ elementService.currentElement.getResourceByContentTypeIdAndLanguageId(6,language.id_language) }}"
													(keyup) = "elementService.typing($event.target.value,language,systemService.system,contentTypeService.findContentTypeById(6))" ></textarea>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-x">
							<label class="button expanded" for="upload" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(4).code]">
								<b style="color: #cc4b37;">*</b>
								<b>SUBIR MINIATURA</b>&nbsp;
								<fa-icon [icon]="faImage"></fa-icon>
							</label>
							<label class="button expanded" *ngIf="progressService.progress[contentTypeService.getAcceptByContentType(4).code]" disabled>
								<b>SUBIENDO MINIATURA</b>
								<fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
							</label>
							<input type="file" class="show-for-sr" id="upload" *ngIf="!progressService.progress[contentTypeService.getAcceptByContentType(4).code]" (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.system,contentTypeService.findContentTypeById(4),helperService.determinateHost(),helperService.getHeaders())" accept="{{ contentTypeService.getAcceptByContentType(4)}}">
						</div>
						<div class="grid-x">
							<div class="large-4">
								<label>
									<b>Estatus</b>
									<select
										[ngModelOptions]="{standalone: true}"
										[(ngModel)]="elementService.currentElement.status"
										(change)="elementService.changeStatus($event.target.value)" >
										<option
											*ngFor="let status of elementService.status" [ngValue]="status.id">
												{{ status.name }}
										</option>
									</select>
								</label>
							</div>
								<div class="large-8">
									<label>
										<b>
											Siguiente
										</b>
										<select
											[ngModelOptions]="{standalone: true}"
											[(ngModel)]="elementTypeService.nextElementType">
											<option
												*ngFor="let elementType of elementTypeService.nextElementTypes" [ngValue]="elementType">
													{{ elementType.name }}
											</option>
										</select>
									</label>
								</div>
						</div>
						<div class="grid-x">
							<div class="large-12">
								<p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
							</div>
						</div>
						<div class="grid-x">
							<div class="large-2 large-offset-8">
								<button class="button expanded secondary" (click) = "cancel()">
									<b>Cancelar</b>
								</button>
							</div>
							<div class="large-2">
								<button class="button expanded success" (click) = "save(elementService.currentElement)">
									<b>Guardar</b>
								</button>
							</div>
						</div>

					</form>
			</div>
			<div class="large-5 end">
				<app-card-travel
					*ngIf="elementService.currentElement != null"
					[element] = "elementService.currentElement"></app-card-travel>
			</div>
	</div>
</div>
