.background-login {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("http://www.auraxr.com/wp-content/uploads/2019/06/Portada-Aura-xr.jpg");
}


.header-content {
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
}

.header-content h1, form h3 {
  font-weight: 700;
  color:rgba(109,109,109,0.78) !important;
  letter-spacing: 8px;
  line-height: 2.4em;
  text-align: center;
}

label {
  color: #757575 !important;
}

h4 {
  color: #757575 !important;
}
