<div class="background-login">
  <div class="header-content">
    <img src="http://www.auraxr.com/wp-content/uploads/2019/06/Logo-oro.png" alt="">
    <h1>BUILDER</h1>
  </div>
  <form  #login = "ngForm">
    <div class="grid-x">
      <div class="large-4 large-offset-4">
        <h3 class="text-center">INGRESAR</h3>
        <h4 class="text-center">{{ helperService.determinateSystem() }} {{ helperService.determinateVersion() }} </h4>
        <div class="large-12 cell">
          <label>
            <b>Usuario</b>
            <input type="text" name="username" placeholder="mi@correo.com" #username="ngModel" ngModel required>
            <app-show-errors [control] = "username"></app-show-errors>
          </label>
        </div>
        <div class="large-12 cell">
          <label>
            <b>Contraseña</b>
            <input type="password" name="password" placeholder="password" #password="ngModel" ngModel required>
            <app-show-errors [control]="password"></app-show-errors>
          </label>
        </div>
        <div class="large-12 cell">
          <app-show-errors [control]="error"></app-show-errors>
          <button class="button expanded secondary"  (click) = "signIn(username,password)" [disabled]="!login.valid">
            <b>Entrar</b>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
