<div class="grid-x">
  <div class="small-8 small-offset-2 end" style="background:black">
    <a (click) = "goTo()">
      <div id="canvasWrapper-{{element.id_element}}" class="wrapper-canvas" style="width:200px; height: 280px; margin: auto">
          <canvas id="canvasID-{{element.id_element}}" class="canvas">
             Tu navegador no soporta canvas
          </canvas>
      </div>
    </a>
  </div>
  <div class="small-4 small-offset-2 without_margin_button" [class.hidden] ="!hide_controls">
      <label>
        <select
          class="without_margin_button"
          [(ngModel)]="languageName">
          <option
            *ngFor="let language of languageService.languagesCombobox">
            {{ language.name }}
          </option>
        </select>
      </label>
  </div>
  <div class="small-4 end without_margin_button" [class.hidden] ="!hide_controls">
      <label>
        <select
          class="without_margin_button"
          [disabled] = "(systemService.systemsCombobox.length == 1 && systemService.systemsCombobox[0].id_system == 1)"
          (change)="systemService.changeSystem($event.target.value)">
          <option
            *ngFor="let system of systemService.systemsCombobox">
            {{ system.name }}
          </option>
        </select>
      </label>
  </div>
  <div class="small-2 small-offset-2" [class.hidden] ="hide_controls">
    <button class="button alert expanded" (click) = "delete()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
  <div class="small-2" [class.hidden] ="hide_controls">
    <button class="button warning expanded" (click)="edit()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
  </div>
  <div class="small-4 end" style="padding: .85em 1em;" [class.hidden] ="hide_controls">
    <h5 class="text-center">
      <b>
        {{element.statusName()}}
      </b>
    </h5>
  </div>
  <div class="small-12" style="padding: .85em 1em;" [class.hidden] ="!hide_controls">
    <h5 class="text-center">
      <b>
        {{element.statusName()}}
      </b>
    </h5>
  </div>
  <div class="small-12">
    <h4 class="text-center">Colección</h4>
  </div>
  <div class="small-8  small-offset-2 end" [class.hidden] = "hide_name">
    <b [class.hidden] = "hide_titles">Nombre ({{languageName}}):<br></b>
    <p class="text-center">
      {{ element.getResourceByContentTypeIdAndLanguageId(5,languageService.findLanguageByName(languageName).id_language) }}
    </p>
  </div>
  <div class="small-8  small-offset-2 end" [class.hidden] = "hide_description">
    <b>Descripción ({{languageName}}):<br></b>
    <p class="text-center">
      {{ element.getResourceByContentTypeIdAndLanguageId(6,languageService.findLanguageByName(languageName).id_language) }}
    </p>
  </div>
</div>
