<div class="grid-x">
  <fieldset class="large-12">
    <input type="checkbox" name= "loop" class="checkbox" [(ngModel)]="markerService.elementInMarker.options.loop">
    <label>
      <b>Loop</b>
    </label>
    <input type="checkbox" name= "transparency" class="checkbox" [(ngModel)]="markerService.elementInMarker.options.transparency">
    <label >
      <b>Transparencia</b>
    </label>
    <input type="checkbox" name= "subtitle" class="checkbox" [(ngModel)]="markerService.elementInMarker.options.subtitle">
    <label >
      <b>Subtitulos</b>
    </label>
  </fieldset>
</div>
<div class="grid-x">
  <div class="large-6" *ngIf="markerService.elementInMarker.options.loop">
    <label>
      <b>Loop start frame</b>
      <input  type="number" min="1" name="frameStart" [(ngModel)]="markerService.elementInMarker.options.frameStart">
    </label>
  </div>
  <div class="large-6" *ngIf="markerService.elementInMarker.options.loop">
    <label>
        <b>Loop finish frame</b>
      <input type="number" min="1" name="frameEnd" [(ngModel)]="markerService.elementInMarker.options.frameEnd">
    </label>
  </div>
</div>
<div class="grid-x" *ngIf="markerService.elementInMarker.options.subtitle">
  <div class="large-6">
    <label>
      <b>Idioma</b>
      <select 
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="languageService.language">
        <option 
          *ngFor="let language of languageService.languagesCombobox" [ngValue]="language">
          {{ language.name }}
        </option>
      </select>
    </label>
  </div>
  <div class="large-6">
    <label>
      <b>Subtitulos</b>
      <input  type="text" name="subtitle" [(ngModel)]="subtitle">
    </label>
  </div>
  <div class="large-6 large-offset-6">
    <button class="button expanded warning" (click)="addSubtitle(subtitle,languageService.language,systemService.system,contentTypeService.findContentTypeById(11))" [disabled] ="(subtitle == undefined) || (subtitle.length <= 0) ">
        <b>AGREGAR SUBTITULO</b>
    </button>
  </div>
</div>
<div class="grid-x" *ngIf="markerService.elementInMarker.options.subtitle">
  <div class="large-12">
      <table>
          <thead>
            <tr>
              <th width="100">Frame</th>
              <th>Subtitulo</th>
              <th width="70"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subtitle of markerService.elementInMarker.childs">
              <td *ngIf="subtitle.id_content_type == 11 && subtitle.id_language == languageService.language.id_language">
                <input type="number" min="1" [(ngModel)]="subtitle.options.frame">
              </td>
              <td *ngIf="subtitle.id_content_type == 11 && subtitle.id_language == languageService.language.id_language">
                {{ subtitle.resource }}
              </td>
              <td *ngIf="subtitle.id_content_type == 11 && subtitle.id_language == languageService.language.id_language">
                <button class="button expanded alert" (click) ="delete(subtitle.id_content)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>


  