<app-progress *ngIf="progressService.progress['cancel']"></app-progress>
<div *ngIf="!progressService.progress['cancel']">
  <app-menu-top></app-menu-top>
  <h3 class="text-center">MARCADOR</h3>
  <div class="grid-x">
    <div class="large-7">
      <div id="canvasWrapper" class="wrapper-canvas"   [hidden]="loadCanvas">
          <canvas id="canvasID" class="canvas" width="600" height="600">
             Tu navegador no soporta canvas
          </canvas>
      </div>
      <div [hidden]="!loadCanvas" class="text-center" style="width:600px; height: 600px; margin: auto">
        <h1>Cargando canvas..</h1>
      </div>
    </div>
    <div class="large-5" *ngIf="this.elementService.currentElement != undefined && this.markerService.currentMarker != undefined">
      <app-create-element-canvas-form
        *ngIf="showForm"
        (cancelElementInMarker) = "cancelElementInMarker($event)"
        (saveElementInMarker) = "saveElementInMarker($event)"></app-create-element-canvas-form>
      <app-panel-elements-canvas
        *ngIf="!showForm && !showFormEdit"
        (addElementInMarker) = "addElementInMarker($event)"
        (updateCanvas) ="updateCanvasEvents($event)"
        (reloadElementInMarker) = "reloadElementInMarker($event)"
        (deleteElementInMarker) = "deleteElementInMarker($event)"
        (updateElementInMarker) ="updateElementInMarkerEvents($event)"></app-panel-elements-canvas>
      <app-edit-element-canvas-form
        *ngIf="showFormEdit"
        (cancelElementInMarker) = "cancelElementInMarker($event)"
        (saveElementInMarker) = "saveElementInMarker($event)"></app-edit-element-canvas-form>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-1 large-offset-5">
      <button class="button expanded secondary" (click) = "cancel()">
        <b>Cancelar</b>
      </button>
    </div>
    <div class="large-1 end">
      <button class="button expanded success" (click) = "save()">
        <b>Guardar</b>
      </button>
    </div>
  </div>
</div>
