<form #editCollectionForm = "ngForm" novalidate *ngIf="!progressService.progressRun">
    <div class="grid-x">
      <div class="large-12 cell">
        <label>
          <b>Tipo de escena</b>
          <select
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="contentTypeService.contentType">
              <option
                  *ngFor="let contentType of contentTypeService.contentTypeCombobox" [ngValue]="contentType">
                      {{ contentType.name }}
              </option>
          </select>
        </label>
      </div>
    </div>
    <div class="grid-x">
      <div  class="large-12 cell">
        <label class="button success expanded" for="upload-xr-android" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]">
          <b style="color: #cc4b37;">*</b>SUBIR {{ contentTypeService.contentType.name }}&nbsp;
          <b *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">ANDROID</b>&nbsp;
          <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
          <fa-icon [icon]="faCheck" *ngIf="elementService.findContentByLanguageAndSystemAndContentType(languageService.findLanguageById(1), (contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16) ? 3 : 1,contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type)) != undefined"></fa-icon>
        </label>
        <label class="button success expanded"
          *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" disabled>
          SUBIENDO {{ contentTypeService.contentType.name }}
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </label>
        <input type="file" class="show-for-sr" id="upload-xr-android"
          *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]"
          (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),helperService.determinateHost(),helperService.getHeaders())"
          accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
      </div>
    </div>
    <div class="grid-x" *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">
      <div  class="large-12 cell">
        <label class="button success expanded" for="upload-xr-xml-android" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]">
          <b style="color: #cc4b37;">*</b>SUBIR XML&nbsp;
          <b *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">ANDROID</b>&nbsp;
          <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
          <fa-icon [icon]="faCheck"
            *ngIf="elementService.findContentByLanguageAndSystemAndContentType(languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(29)) != undefined"></fa-icon>
        </label>
        <label class="button success expanded"
        *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" disabled>
          SUBIENDO {{ contentTypeService.contentType.name }}
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </label>
        <input type="file" class="show-for-sr" id="upload-xr-xml-android"
          *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(29).options.code]"
          (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(3),contentTypeService.findContentTypeById(29),helperService.determinateHost(),helperService.getHeaders())"
          accept="{{ contentTypeService.getAcceptByContentType(29)}}">
      </div>
    </div>
    <div class="grid-x" *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">
      <div  class="large-12 cell">
        <label class="button expanded"
          for="upload-xr-ios"
          *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]">
          <b style="color: #cc4b37;">*</b>SUBIR {{ contentTypeService.contentType.name }}&nbsp;
          <b *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">IOS</b>&nbsp;
          <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
          <fa-icon [icon]="faCheck"
            *ngIf="elementService.findContentByLanguageAndSystemAndContentType(languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type)) != undefined"></fa-icon>
        </label>
        <label class="button expanded"
        *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" disabled>
          SUBIENDO {{ contentTypeService.contentType.name }}
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </label>
        <input type="file" class="show-for-sr" id="upload-xr-ios"
          *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]"
          (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type),helperService.determinateHost(),helperService.getHeaders())"
          accept="{{ contentTypeService.getAcceptByContentType(contentTypeService.contentType.id_content_type)}}">
      </div>
    </div>
    <div class="grid-x" *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">
      <div  class="large-12 cell">
        <label class="button expanded" for="upload-xr-xml-ios" *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]">
          <b style="color: #cc4b37;">*</b>SUBIR XML&nbsp;
          <b *ngIf="contentTypeService.contentType.id_content_type == 15 || contentTypeService.contentType.id_content_type == 16">IOS</b>&nbsp;
          <fa-icon [icon]="faFileArchive"></fa-icon>&nbsp;
          <fa-icon [icon]="faCheck"
            *ngIf="elementService.findContentByLanguageAndSystemAndContentType(languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(29)) != undefined"></fa-icon>
        </label>
        <label class="button expanded"
        *ngIf="progressService.progress[''+contentTypeService.findContentTypeById(contentTypeService.contentType.id_content_type).options.code]" disabled>
          SUBIENDO {{ contentTypeService.contentType.name }}
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </label>
        <input type="file" class="show-for-sr" id="upload-xr-xml-ios"
          *ngIf="!progressService.progress[''+contentTypeService.findContentTypeById(29).options.code]"
          (change)="elementService.fileInput($event.target.files,languageService.findLanguageById(1),systemService.findSystemById(2),contentTypeService.findContentTypeById(29),helperService.determinateHost(),helperService.getHeaders())"
          accept="{{ contentTypeService.getAcceptByContentType(29)}}">
      </div>
    </div>
    <div class="grid-x">
        <div class="large-12">
            <p class="text-center error" *ngFor="let error of errorService.errors"> {{ error }}</p>
        </div>
    </div>
    <div class="grid-x">
      <div class="large-3 large-offset-6">
          <button class="button secondary expanded" (click) = "cancel()">
              <b>Cancelar</b>
          </button>
      </div>
      <div class="large-3">
          <button class="button success expanded" (click) = "save(elementService.currentElement)">
              <b>Siguiente</b>
          </button>
      </div>
    </div>
</form>
