<div class="grid-x">
  <div class="small-8 small-offset-2 end" *ngIf="!hide_controls">
    <a (click) = "goTo()">
      <img src="{{ helperService.determinateHost(false)+'/storage/image/p-i.png' }}" alt="">
    </a>
  </div>
  <div class="small-8 small-offset-2 end"  *ngIf="hide_controls">
    <video src="{{ helperService.determinateHost(false)+'/storage/'+element.getResourceByContentTypeId(14) }}" controls></video>
  </div>
  <div class="small-2 small-offset-2" [class.hidden] ="hide_controls">
      <button class="button alert expanded" (click) = "delete()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
    <div class="small-2" [class.hidden] ="hide_controls">
      <button class="button warning expanded" (click)="edit()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </div>
    <div class="small-4 end" style="padding: .85em 1em;" [class.hidden] ="hide_controls">
      <h5 class="text-center">
        <b>
          {{element.statusName()}}
        </b>
      </h5>
    </div>
</div>
