<app-progress *ngIf="progressService.progress['panel']"></app-progress>
<div *ngIf="!progressService.progress['panel']">
  <h3 class="text-center">Panel de elementos</h3>
  <div class="grid-x">
    <div class="large-3 large-offset-9">
      <button class="button primary expanded" (click) ="addElement()">Agregar</button>
    </div>
  </div>
  <div class="grid-x" [sortablejs]="markerService.currentMarker.elementsInMarker"  [sortablejsOptions]="options">
      <div class="large-3" *ngFor="let element of markerService.currentMarker.elementsInMarker">
        <app-element-canvas-card-mini
          [elementInMarker] = "element"
          (updateCanvas) = "updateCanvasEvent($event)"
          (deleteElementInMarker) = "deleteCanvas($event)"
          (updateElementInMarker) = "updateElementInMarkerEvent($event)"></app-element-canvas-card-mini>
    </div>
    <div class="large-12" *ngIf=" markerService.currentMarker.elementsInMarker == undefined ||  markerService.currentMarker.elementsInMarker.length <= 0">
      <h5 class="text-center">No hay elementos en el marcador</h5>
    </div>
  </div>
</div>
