<div id="canvasWrapper-{{element.id_element}}" class="wrapper-canvas"style="width:100px; height: 180px; margin: auto">
  <canvas id="canvasID-{{element.id_element}}" class="canvas">
     Tu navegador no soporta canvas
  </canvas>
</div>