/* You can add global styles to this file, and also import other style files */
.hidden {
    display: none;
} 

.error {
    color: red;
}

.without_margin_button {
    margin-bottom: 0px;
}

.thumbnail { 
    margin-bottom: 0px;
}

.card {
    height: 280px;
    width: 100%;
}